name: yarn install

on:
  workflow_dispatch:
  workflow_call:

jobs:
  yarn_install:
    name: $ yarn install する
    runs-on: ubuntu-24.04
    steps:
      - name: コードをチェックアウトする
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Node.js のセットアップを行う
        uses: actions/setup-node@v6
        with:
          node-version-file: '.node-version'
          cache: yarn
          cache-dependency-path: yarn.lock
      - name: $ yarn install する
        run: |
          yarn install --frozen-lockfile
