name: ESLint

on:
  workflow_dispatch:
  workflow_call:

jobs:
  yarn_install:
    name: $ npx eslint する
    runs-on: ubuntu-24.04
    steps:
      - name: コードをチェックアウトする
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Node.js のセットアップを行う
        uses: actions/setup-node@v6
        with:
          node-version-file: '.node-version'
          cache: yarn
          cache-dependency-path: yarn.lock
      - name: $ yarn install する
        run: |
          yarn install --frozen-lockfile
      - name: ESLint を実行する
        run: |
          npx eslint
